* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #74ebd5, #acb6e5);
}

.container {
    background: white;
    padding: 25px;
    border-radius: 12px;
    width: 320px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.25);
}

.search {
    display: flex;
    gap: 5px;
    margin-bottom: 20px;
}

.search input {
    flex: 1;
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.search button {
    padding: 8px 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background: #4facfe;
    color: white;
}

.weather img {
    width: 80px;
}

.weather p {
    margin: 5px 0;
}
